.venv/
.venv/*

*.pyc
__pycache__/
__pycache__/*

node_modules/
node_modules/*

images/
images/*
Merge branch 'fix-progress-percentage'

runs/
runs/*

off_experiments/
off_experiments/*

utrecht_center_model/
utrecht_center_model/*

yolo26l-obb/
yolo26l-obb/*

yolol-obb/
yolol-obb/*

models/
models/*

*.pt
.env
experiments/TEST_K3-a-2.pdf

eindhoven-V1/
eindhoven-V1/*

backend/public/
backend/public/*

dataset/
dataset/*

scripts/labelstudio-data/
scripts/labelstudio-data/*